target :'ruby1.staging', 'johnd0@ruby1.staging.example.com:/srv/rack/hipchat-logger', rails_env: 'staging'
target :'ruby1.prod',    'johnd0@ruby1.prod.example.com:/srv/rack/hipchat-logger',    rails_env: 'production'

env_scripts '/etc/profile'
